
*{
    font-family: 'work' ,sans-serif;
}
/* sheard styls */

.btn-primary{
    background-color: peru;
    font-size: 1.25rem;
    padding: 15px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.text-gray{
    color: #727272;
    border: none;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 220px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;

}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}
nav li a {
    text-decoration: none;
    color: rgb(12, 9, 9);
}
/* banner styls */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: #131313;
}

.banner-img{
    width: 100%;
    margin-top: 20px;
  
}



/* main-teams-stlys */
main{
    max-width: 1440px;
    margin: 80px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.tem-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.25rem;
   margin-top: 20px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 50px;
}
.teans-title{
    font-size: 2.9rem;
    font-weight: 500;
}
.teans-title .quick{
    color: gray;
}
.teans-title .text-Featuers{
    color: salmon;
}


/* featuers-styls */

.featuers{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.featuers-img img{
    height: 70%;
}

.fet-content{
    margin-left: 30px;

}
.card2{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0,0,0,0.06);
}
.featuers .section-title{
    padding-left: 20px;
    border-left: 5px solid #ff900e;
}
.text-gray{
    margin-left: 20px;
}
.ten-years{
    background-color: #ff900e;
    border-radius: 7px;
    padding: 20px;
    width: 342px;
    margin: 0;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 50px;
}
.ten-years h3{
    font-size: 3.8rem;
}
.ten-years p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* some-facts-section */
.cards-container{
    display: flex;
    justify-content: space-around;
}
.card{
    border: 1px solid salmon;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    
}
.card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
}
.card-description{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* sponsors-styls */

.sponsors , .facts{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    align-items: center;
    gap: 30px;
}
.sponsors-img img{
    width: 180px;
}


/* responsive-section */


/* mobile-devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav , .teams-container , .cards-container , .sponsors-img{
        flex-direction: column;
    }
    .tem-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .cards-container{
        gap: 20px;
    }
    .sponsors-img{
        gap: 50px;
        padding: 100px;
    }

}
    /* medium-devices */

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav , .teams-container ,
    .sponsors-img
    {
        flex-direction: column;
    }

   
   
    
}
